<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    
    <title>Document</title>
</head>
<body>
    <form action="/createPost/{{ userId }}" method="post" enctype="multipart/form-data">
        <input type="file" name="photos" multiple>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4" cols="50" placeholder="Enter description..." required></textarea>
        </div>
        <div class="inputUrl">
            <label for="postUrl">PostUrl:</label>
            <input type="url" name="postUrl" id="postUrl">
        </div>
        <input type="submit" value="Upload">
    </form>
</body>
</html>

